<section class="container container-about">
    <div class="row">
        <div class="col-md-12">
            <h1>About</h1>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
				<span style="font-family: 'Nanum Gothic', serif; font-size: 20px;">
					이름: 김경민
				</span>
				<br>
				<span style="font-family: 'Nanum Gothic', serif; font-size: 20px;">
					직업: 안드로이드 어플리케이션 개발자 (Android App Developer)
				</span>
            </p>
        </div>
        <div class="col-sm-12 col-md-6">
            <p>
                <span style="font-family: 'Nanum Gothic', serif; font-size: 20px;">늘 고민하고 생각하자</span>
				<br>
				<!-- 
				<span style="font-family: 'Nanum Gothic', serif; font-size: 20px;">
					Download: <a href="{{ site.url }}assets/Portfolio.pdf" class="no-uline" target="_blank">Portfolio(PDF)</a>
				</span>
				-->
            </p>
        </div>
    </div>
</section>
