<section class="container container-instagram" >
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1>Portfolio</h1>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-12">
            <!-- Generate such a widget at snapwidget.com for your name -->
            <!-- Copy/paste code here or just update the snapwidget value at _config.yml -->
			<!-- 
            <script src="https://snapwidget.com/js/snapwidget.js"></script>
            <iframe src="https://snapwidget.com/embed/{{ site.snapwidget }}" class="snapwidget-widget" allowTransparency="true"
                    frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%; "></iframe>
			-->
			<!--
			<div style="position: relative; height: 16px; width: 100%; overflow: hidden; padding-top:100%;">
				<iframe src="//widgets-code.websta.me/w/f1bdea0166bb?ck=MjAxNy0wMi0wM1QwNToxMzo1MS43MTRa" 
					class="websta-widgets" allowtransparency="true" frameborder="0" scrolling="no" 
					style="position: absolute; top: 0; left: 0; width: 100%; height: 100%;"></iframe> 
			</div>
			-->
			<div class="container-fluid">
				{% for post in site.posts %}
				<!-- nil => '' -->
				{% cycle 'add row' : '<div class="row">', '', '', '' %}
				<div class="col-sm-6 col-md-3 col-lg-3">
					<div class="container-fluid" style="margin:10px auto;">
						<a href="{{ post.url | prepend: site.baseurl }}" class="no-uline" > <!-- target="_blank" -->
							<!--<img src="{{ post.preview | prepend: site.baseurl }}"> -->
							<img src="./web-dist/images/{{ post.icon}}" class="img-fluid m-x-auto d-block img-rounded img-responsive" alt="{{ site.brand }}">
							<p class="container-portfolio-text" style="text-align:center;">
								<span style="font-family: 'Nanum Gothic', serif; font-size:14px; font-weight:bold; overflow:hidden;">
									{{ post.project }}
								</span>
							</p>
						</a>
					</div>
				</div>
				{% cycle 'end row' : '', '', '', '</div>' %}
				{% endfor %}
				{% cycle 'end row' : '', '</div>', '</div>' %}

			</div>
        </div>
    </div>
</section>